<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <!--<add name="CRMConnection" connectionString="AuthType=OAuth;Url=https://massived30.crm.dynamics.com;Username=harveyspector@massived30.onmicrosoft.com;Password=pass@word1;AppId=1023ad69-2d68-4549-89af-74e581061a48;RedirectUri=https://massived30.crm.dynamics.com;LoginPrompt=Never" />-->
    <!--The Office365 authentication has been deprecated-->
    <!--<add name="CRMConnection" connectionString="AuthType=Office365;Url=https://massived30.crm.dynamics.com;Username=harveyspector@massived30.onmicrosoft.com;Password=pass@word1;LoginPrompt=Never" />-->
    <!--Use the App ID as it is-->
    <add name="CRMConnection" connectionString="AuthType=OAuth;Username=devimukherjee@bappa203.onmicrosoft.com;Password=Bappa@203;Url=https://org74737710.crm8.dynamics.com/;AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97;LoginPrompt=Never"/>
  </connectionStrings>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>